# OCI Provider Settings
tenancy_ocid         = ""
compartment_ocid     = ""
user_ocid            = ""
private_key_path     = ""
private_key_password = ""
fingerprint          = ""
region               = "ap-tokyo-1"
ssh_public_key_path  = ""
cluster_name         = ""

# VCN
vcn_cidr_block           = "10.0.0.0/16"
master_subnet_cidr_block = "10.0.0.0/24"
worker_subnet_cidr_block = "10.0.1.0/24"

shape = "VM.Standard.E2.1.Micro"

## Canonical-Ubuntu-20.04-2020.12.11-0
os_user     = "ubuntu"
image_id = "ocid1.image.oc1.ap-tokyo-1.aaaaaaaaarvho42dzk7pap7vnhraw53bqxkpspf4ehsjvo3akmaveihrqpnq"
